.picture {
    width: 1920px;
    height: 1090px;
    
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;

    left: 3%;
}


.picture-subject {
    width: 400px;

    text-align: center;

    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    
    color: #dadada;

    position: absolute;
    left: 12%;
    top: 2%;
}

.picture-imeg {
    position: absolute;
    left: 34%;
    
}

.picture-left {
    position: absolute;
    right: 25%;
    top: 1%;
}
.picture-right {
    position: absolute;
    right: 15%;
    top: 2%;
}

.picture-items-plane {
    position: absolute;
    top: 20%;
    left: 14.5%;
}

.picture-items-kino {
    position: absolute;
    top: 20%;
    right: 14.5%;
}

.picture-text-plane {
    font-family: 'Oswald', sans-serif;
    font-size: 43px;
    text-transform: uppercase;

    text-align: center;
    
    color: #dadada;
}

.picture-text-kino {
    font-family: 'Oswald', sans-serif;
    font-size: 43px;
    text-transform: uppercase;

    text-align: center;
    
    color: #dadada;
}

.picture-bottom-left {
    position: absolute;
    top: 60%;
    left: 15%;
}

.picture-bottom-right {
    position: absolute;
    top: 60%;
    right: 15%;
}









